@{
    ViewData["Title"] = "Home Page";
}

<cache vary-by="@Context.Request.Path">
    <div class="body-content">
        <app>
            Loading...
        </app>
    </div>
</cache>

@section scripts {
    <script src="~/lib/systemjs/dist/system.src.js"></script>

    <script src="https://code.angularjs.org/2.0.0-beta.0/angular2-polyfills.js"></script>
    <script src="~/lib/angular2/bundles/angular2.dev.js"></script>
    <script src="~/lib/angular2/bundles/router.dev.js"></script>
    <script src="~/lib/angular2/bundles/http.dev.js"></script>

    <script src="~/lib/reflect-metadata/reflect.js"></script>
    <script>
        System.config({
            map: {
                rxjs: 'lib/rxjs'
            },
            packages: {
                'app': { defaultExtension: 'js' },
                'rxjs': { defaultExtension: 'js' }
            }
        });
        System.import('./app/bootstrap').catch(console.log.bind(console));
    </script>
}