<h3 [hidden]="listLoaded">Fetching List...</h3>

<div [hidden]="!listLoaded">
    <h3 *ngIf="!editingListName">
        {{list.listName}} 
        <small>
            <a href="#" data-toggle="tooltip" title="Edit list name" (click)="editListName()"><i class="fa fa-edit"></i></a>
        </small>
    </h3> 
    <h3 *ngIf="editingListName">
        <form #listNameForm="ngForm">
            <div class="input-group" style="max-width: 20em;">
                <input type="text"
                       [(ngModel)]="list.listName"
                       ngControl="listName"
                       class="form-control"
                       placeholder="List Name"
                       required />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="saveListName()" [disabled]="!listNameForm.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
                    <button class="btn btn-default" type="button" (click)="cancelListNameEditor()"><i class="fa fa-ban"></i> Cancel</button>
                </span>
            </div>
        </form>
    </h3>

    <a [routerLink]="['Lists']" class="btn btn-default"><i class="fa fa-check"></i> Done</a>
    
    <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i>
        TODO:
        <ul>
            <li>TOGGLE CHECK: tap (need to implement persistence)</li>
            <li>REMOVE: swipe</li>
            <li>EDIT: long-press</li>
            <li>MOVE: drag (add an anchor)</li>
        </ul>
    </div>

    <div class="list-group">
        <a *ngFor="#item of list.items" class="list-group-item" (click)="toggleCheck(item)">
            <i *ngIf="item.checked" class="fa fa-check-square"></i>
            <span class="checked-{{item.checked}}">{{item.itemName}}</span>
        </a>
    </div>
    <div>
        <input type="text" placeholder="New Item Name" />
        <button>Go</button>
    </div>
</div>
